$base-red: #F06C64;
$base-blue: #2D303A;
$base-white: #F2F2F2;
$border-red: #EA676B;
$border-blue: #323746;
$border-white: #ffffff;
$section-headers: #666D89;
$section-description: #767E9E;
$section-light: #F0D8D9;
$navbar-h: 13vh;
$bars-h: 1vh;
$footer-h: 10vh;

* {
    box-sizing: border-box;
    left: 0;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

html {
    scroll-padding-top: $bars-h+$navbar-h;
    scroll-behavior: smooth;
    font-family: 'Lato';
    font-style: normal;
    font-size: 12px;
}

body {
    position: relative;
    top: $navbar-h;
}
.global-wraper {
    position: relative;
    max-width: 1020px;
    margin: auto;
}
.fixed-nav {
        position: fixed;
        top: 0;
        margin: 0 auto;
        width: 1020px;
        height: $navbar-h;
        background-color: $base-blue;
        z-index: 100;
    
        h1 {
            position: absolute;
            width: 124px;
            height: 25px;
            left: 40px;
            top: 29px;
    
            font-weight: 700;
            font-size: 2.1rem;
            line-height: 30px;
            letter-spacing: -0.03em;
            color: #ffffff;
    
            span {
                color: $base-red;
            }
        }
    
        nav {
            position: absolute;
            width: 375px;
            left: 605px;
            top: 42px;
    
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            text-align: right;
            letter-spacing: -0.035em;
        }
    }



.carousel {
    width: 100%;
    height: 100vh - ($bars-h+$navbar-h);
    background-color: $base-red;
}

.services {
    background-color: $base-white;

    .service-board {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
    }

    .service-cards {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 27%;

        .round-frames {
            position: relative;
            margin: -15px 15px 0 0;
            border: solid 2px #666D89;
            border-radius: 50%;
            min-width: 60px;
            min-height: 60px;

            img {
                position: absolute;
                display: block;
                width: 100%;
                height: 32px;
                margin-top: -16px;
                top: 50%;
            }
        }

        .section-headers {
            font-size: 1.5rem;
            line-height: 18px;
        }

        .section-description {
            font-size: 1rem;
            text-align: justify;
            margin-top: 7px;
            line-height: 22px;
        }
    }
}

.portfolio {
    background-color: $base-blue;
}

.about {
    background-color: $base-white;
}

.contact {
    background-color: $base-red;
}

.body-footer {
    height: $footer-h;

    &_blue {
        background-color: $base-blue;
    }
}

%common-bar {
    width: 100%;
    height: $bars-h;
}

.bar-blue {
    @extend %common-bar;
    background-color: $border-blue;
}

.bar-red {
    @extend %common-bar;
    background-color: $border-red;
}

.bar-white {
    @extend %common-bar;
    background-color: $border-white;
}

.section-headers {
    color: $section-headers;
    font-size: 2.5rem;
}

.section-description {
    color: $section-description;
    font-size: 1.5rem;
}

.section-light {
    color: $section-light
}