$base-red: #F06C64;
$base-blue: #2D303A;
$base-white: #F2F2F2;
$border-red: #EA676B;
$border-blue: #323746;
$border-white: #ffffff;
$section-headers: #666D89;
$section-description: #767E9E;
$section-light: #F0D8D9;
$navbar-h: 13vh;
$bars-h: 1vh;
$footer-h: 10vh;

* {
    box-sizing: border-box;
    left: 0;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

html {
    scroll-padding-top: $bars-h+$navbar-h;
    scroll-behavior: smooth;
    font-family: 'Lato';
    font-style: normal;
    font-size: 12px;
}

body {
    position: relative;
    top: $navbar-h;
}

.global-wraper {
    position: relative;
    box-sizing: border-box;
    max-width: 1020px;
    margin: auto;
}

.header {
        position: fixed;
        top: 0;
        right: 0;
        margin: auto;
        width: 1020px;
        height: $navbar-h;
        background-color: $base-blue;
        z-index: 100;
        border-bottom: solid 6px $border-blue;
    
        &__logo {
            position: absolute;
            width: 124px;
            height: 25px;
            left: 40px;
            top: 29px;
    
            font-weight: 700;
            font-size: 2.1rem;
            line-height: 30px;
            letter-spacing: -0.03em;
            color: #ffffff;
        }

        &__logo-asterisk {
            color: $base-red;
        }
    
        &__nav {
            position: absolute;
            width: 375px;
            left: 605px;
            top: 42px;
    
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            text-align: right;
            letter-spacing: -0.035em;
        }
        &__anchor {
            
        }
    }

.carousel {
    width: 100%;
    height: 100vh - ($bars-h+$navbar-h);
    background-color: $base-red;
    border-bottom: solid 6px $border-red;
}

.section {
    
    &__container {
        padding: 0 40px;
    }

}

.services {
    background-color: $base-white;
    border-bottom: solid 6px $border-white;

    &__containers {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        gap: 20px;

        &--third {
            max-width: 30%;
        }
    }

    
}

.containers {
        display: flex;

    &--row {
        flex-direction: row;
        align-items: center;
    }
    
    &--column {
        flex-direction: column;
    }
}
.round-frames {
    position: relative;
    border: solid 2px #666D89;
    border-radius: 50%;

    &--medium {
        min-width: 60px;
        min-height: 60px;
    }
    &--small {
        min-width: 32px;
        min-height: 32px;
    }
}

.images {

    &__about {
        min-width: 300px;
       }
    
    &__porfolio {
        width: 220px;
        height: 187px;
    }

}

.icons {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    &--small {
        height: 14px;
        margin-top: -7px;
        top: 50%;
    }

    &--medium {
        height: 32px;
        margin-top: -16px;
        top: 50%;
    }
}

.portfolio {
    background-color: $base-blue;
    border-bottom: solid 6px $border-blue;

    &__containers {
        flex-wrap: wrap;
        gap: 20px
    }
}

.about {
    background-color: $base-white;
    border-bottom: solid 6px $border-white;

    &__containers {
        gap: 20px;
    }
}

.contact {
    background-color: $base-red;
    border-bottom: solid 6px $border-red;
    color: $section-light;

    &__containers {
        gap: 20px;
    }

    &__form {
        width: 620px;
        gap: 14px;
    }

    &__ul {
        list-style-position: inside;
    //    list-style-image: url(./assets/ico-location.svg);
    }/*
    &__li {
        &__icon1 {
            list-style-image: url(./assets/ico-location.svg);
        }
        &__icon2 {
            list-style-image: url(./assets/ico-phone.svg);
        }
        &__icon3 {
            list-style-image: url(./assets/ico-mail.svg);
        }*/
    }
    .button {
        border: none;
        border-radius: 5px;

        &--yellow {
            background-color: #FBC65F;
        }
    }
/*
    &__containers {
        flex-wrap: unset;
    }*/
//}
.form {
    &__containers {
        gap: 16px;
    }

    &__text-fields {
        width: 620px;
        background-color: #D6564F;
        border: none;
        border-radius: 5px;
        padding: 14px 13px;
    }

    &__button {
        width: 136px;
        height: 38px;
    }

}

.footer {
    height: $footer-h;
    background-color: $base-blue;

    &__containers {
        position: relative;
        justify-content: center;
    }
}

::placeholder {
    color: #F48C8F;
    line-height: 1rem;
    font-size: 1rem;
}

.headers {
    font-weight: 900;

    &--medium {
        font-size: 2.5rem;
        line-height: 36px;
    }

    &--small {
        font-size: 1.5rem;
        line-height: 18px;
        gap: 7px;
    }

    &--blue {
        color: $section-headers;
    }

    &--light {
        color: $section-light
}

}
.description {
    color: $section-description;

    &--small {
        font-size: 1rem;
        line-height: 22px;
        font-weight: 400;
        text-align: justify;
    }

    &--medium {
        font-size: 1.5rem;
        line-height: 30px;
        font-weight: 300;
    }
}

.anchor {
    text-decoration: none;
}