@import './variables.scss';

.disable-scroll {
    overflow: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-padding-top: $navbar-h;
    scroll-behavior: smooth;
    font-family: 'Lato';
    font-style: normal;
    font-size: 12px;
    background-color: hsl(228, 15%, 85%);
}

body {
    position: relative;
    top: $navbar-h;
}

.global-wraper {
    position: relative;
    box-sizing: border-box;
    max-width: 1020px;
    width: 100%;
    margin: auto;
}

.port-display {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsla(230, 17%, 10%, 0.758);
    z-index: 1000;
    flex-direction: row;
    align-items: center;

    &--visible {
        display: flex;
    }

    &__image {
        display: block;
        margin: auto;
        max-width: 40vw;
        width: 40vw;
        border: solid 2px black;
        border-radius: 5px;
    }

    &__nav-button {
        position: absolute;
        top: 50%;
        max-width: 40px;
        width: 100%;
        max-height: 40px;
        height: 100%;
        background-color: rgba(13, 13, 13, 0.70);
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        cursor: pointer;


        &--next {
            right: 25%;
        }

        &--previous {
            left: 25%;
        }

    }

    &__close {
        background-color: hsla(228, 15%, 47%, 0);
        border: none;
        position: absolute;
        top: 10%;
        right: 30%;
        font-size: 24px;
        color: #D6564F;
        cursor: pointer;
    }

}

.header {
    position: fixed;
    top: 0;
    margin: auto;
    max-width: 1020px;
    width: 100%;
    max-height: 95px;
    background-color: $base-blue;
    z-index: 100;
    border-bottom: solid 6px $border-blue;
    padding: 0 40px 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    &__anchor:hover {
        color: $base-red;
    }

    &__checkbox {
        display: none;
    }

    &__mobile-nav {
        display: none;
    }

    &__button {
        display: none;
    }

    &__logo {
        font-weight: 700;
        font-size: 2.1rem;
        line-height: 30px;
        letter-spacing: -0.03em;
        color: #ffffff;
        margin-bottom: 41px;
        margin-top: 29px;
        cursor: default;
    }

    &__logo-asterisk {
        color: $base-red;
        cursor: default;
    }

    &__nav {
        margin-bottom: 42px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        text-align: right;
        letter-spacing: -0.035em;
    }

    &__anchor {
        color: #ffffff;
    }

    &__anchor-decor {
        color: #ffffff;
        margin: 0px 10px;
        cursor: default;
    }
}

.slider {
    position: relative;
    max-width: 1020px;
    width: 100%;
    overflow: hidden;

    &__nav-button {
        position: absolute;
        z-index: 10;
        background-color: #666d8900;
        border: none;

        &--next {
            top: 290px;
            right: 40px;
        }

        &--previous {
            top: 294px;
            left: 40px;
        }
    }

    &__wraper {
        width: 200%;
        display: flex;
        transition: 1s;
    }

    &__radio {
        display: none;
    }
}

#image1:checked~.slider__wraper {
    margin-left: 0;
}

#image2:checked~.slider__wraper {
    margin-left: -100%;
}

.section {

    padding: 60px 40px 0;

}

.services {
    color: $section-description;
    background-color: $base-white;
    border-bottom: solid 6px $border-white;

    &__containers {
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
        margin-top: 60px;
        margin-bottom: 52px;
    }

    &__item-wrap {
        display: flex;
        justify-content: space-between;
        max-width: 300px;
        width: 50%;
    }

    &__item {
        max-width: 220px;
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    &__header {
        margin-bottom: 18px;
        text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black, 1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black, 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.portfolio {
    color: $section-description;
    background-color: $base-blue;
    border-bottom: solid 6px $border-blue;

    &__images {
        max-width: 220px;
        width: 25%;
        cursor: pointer;

        &--hidden {
            display: none;
        }
    }

    &__filter {
        cursor: pointer;
        border-radius: 5px;
        line-height: 100%;
        font-size: 1rem;
        margin-top: 12px;
        margin-bottom: 24px;
        padding: 5px;
        background-color: $base-blue;
        color: $section-description;
        border: solid 1px $section-description;

        &--toggled {
            color: $base-white;
            border-color: $base-white;
        }
    }

    &__containers {
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
        margin-bottom: 75px;
    }

    &__header {
        margin-bottom: 14px;
    }
}

.about {
    color: $section-description;
    background-color: $base-white;
    border-bottom: solid 6px $border-white;

    &__item-wrap {
        display: flex;
        justify-content: space-between;
        margin-top: 57px;
        margin-bottom: 74px;
    }

    &__item {
        max-width: 300px;
        width: 33%;
    }

    &__item-img {
        width: 100%;
    }

    &__header {
        margin-bottom: 14px;
    }

    &__card-headers {
        margin: 17px 0 7px;
    }

    &__round-frames {
        margin-top: 12px;
        gap: 8px;
    }
}

.contact {
    background-color: $base-red;
    border-bottom: solid 6px $border-red;
    color: $section-light;

    &__containers {
        margin-top: 57px;
        margin-bottom: 64px;
        gap: 20px;
    }

    &__item-wrap {
        margin-top: 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 3px;
    }

    &__anchor {
        color: $section-light;
    }

    &__header {
        margin-bottom: 14px;
    }

    &__info-header {
        margin-bottom: 7px;
    }

    &__form {
        max-width: 620px;
        width: 75%;
        gap: 14px;
    }

    &__form-wraper {
        gap: 16px;
    }

    &__form-fields {
        width: 620px;
        background-color: #D6564F;
        border: none;
        border-radius: 5px;
        padding: 14px 13px;
    }

    &__button {
        width: 136px;
        height: 38px;
    }
}

.button {
    border: none;
    border-radius: 5px;

    &--yellow {
        background-color: #FBC65F;
    }
}

.footer {
    padding: 22px;
    background-color: $base-blue;

    &__round-frames {
        gap: 8px;
        position: relative;
        justify-content: center;
    }
}

::placeholder {
    color: #F48C8F;
    line-height: 1rem;
    font-size: 1rem;
}

.headers {
    font-weight: 900;

    &--medium {
        font-size: 2.5rem;
        line-height: 36px;
    }

    &--small {
        font-size: 1.5rem;
        line-height: 18px;
    }

    &--blue {
        color: $section-headers;
    }

    &--light {
        color: $section-light
    }

}

.description {

    font-style: normal;

    &--small {
        font-size: 1rem;
        line-height: 22px;
        font-weight: 400;
        text-align: justify;
    }

    &--medium {
        font-size: 1.5rem;
        line-height: 30px;
        font-weight: 300;
    }
}

.anchor {
    text-decoration: none;
}

.containers {
    display: flex;

    &--row {
        flex-direction: row;
    }

    &--column {
        flex-direction: column;
    }
}

.round-frames {
    position: relative;
    border-radius: 50%;

    &__icons {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
    }

    &--medium {
        border: solid 2px #666D89;
        max-width: 60px;
        width: 100%;
        height: 60px;
    }

    &--small {
        border: solid 1px #666D89;
        max-width: 32px;
        width: 100%;
        height: 32px;
    }
}

.icons {
    margin: auto;

    &--small {
        height: 14px;
        margin-top: -7px;
        top: 50%;
    }

    &--medium {
        height: 32px;
        margin-top: -16px;
        top: 50%;
    }
}

@media (max-width: 769px) {

    .global-wraper {
        max-width: 768px;
    }

    .header {
        max-width: 768px;
    }

    .services{

        &__header {
            text-shadow: none;
        }

    }

    .slider {
        max-width: 768px;

        &__image {
            max-width: 768px;
        }
    }

    .portfolio {
        &__images {
            max-width: 215px;
            width: 33%;
        }
    }

    .about {
        &__item {
            max-width: 218px;
        }
    }

    .contact {
        &__form {
            max-width: 442px;
        }

        &__form-wraper {
            gap: 12px;
        }

        &__form-fields {
            max-width: 442px;
        }
    }
}

@media (max-width: 376px) {

    html {
        scroll-padding-top: 71px;
    }

    body {
        top: 71px;
    }

    .section {

        padding: 0 30px 0;

        &--services {
            padding-top: 25px;
        }

        &--portfolio {
            padding-top: 42px;
        }

        &--about {
            padding-top: 33px;
        }

        &--contact {
            padding-top: 44px;
        }

    }

    .global-wraper {
        max-width: 375px;
        width: 100%;

        &--disable {
            overflow: hidden;
        }
    }

    .header {
        max-width: 375px;
        width: 100%;
        max-height: 71px;
        border: none;

        &__background {
            left: 0;
            position: absolute;
            width: 100vw;
            height: 100vh;
            background-color: #2d303a30;
            display: none;
        }

        &__mobile-wrapper {
            max-width: 100vw;
            width: 100%;
            z-index: 10;
            background-color: #2d303a30;
        }

        &__mobile-nav {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $base-blue;
            max-width: 278px;
            width: 278/375*100%;
            height: 100vh;
            z-index: 20;
            box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
            margin-left: -100%;
            transition: 0.75s;
        }

        &__mobile-ul {
            position: absolute;
            list-style: none;
            top: 232px;
            left: 71px;
        }

        
        &__mobile-li:not(:last-child) {
            margin-bottom: 27px;
        }

        &__mobile-anchor {
            font-size: 2rem;
            color: $base-white;
            text-decoration: none;
        }

        &__mobile-anchor:hover {
            color: $base-red;
        }

        &__button {
            display: inline-block;
            position: absolute;
            top: 25px;
            bottom: 24px;
            left: 20px;
            background-color: #1c3ec600;
            border: none;
            transition: 0.25s;
            z-index: 30;
        }

        &__logo {
        margin: 28px auto 23px;
        font-size: 19.6875px;
        line-height: 20px;
        font-weight: 700;
        letter-spacing: -0.03em;

            &--mobile {
                margin-left: 71px;
            }

        }

        &__nav {
            display: none;
        }

        &__checkbox:checked ~ &__mobile-nav {
            margin-left: 0;
        }

        &__checkbox:checked ~ &__button {
            transform: matrix(0, 1, -1, 0, 0, 0);
        }

        &__checkbox:checked ~ &__background {
            display: block;
        }

    }

    .slider {
        max-width: 375px;

        &__image {
            max-width: 375px;
        }
    }

    .services {

        &__header {
            text-shadow: none;
            font-weight: 900;
        }

        &__containers {
            flex-direction: column;
            gap: 15px;

        }

        &__item-wrap {
            width: 100%;
        }
    }

    .portfolio {
        &__containers {
            gap: 13px;
        }

        &__images {
            max-width: 150px;
            width: 50%;
        }
    }

    .about {
        &__item-wrap {
            flex-direction: column;
            gap: 34px;
        }

        &__item {
            max-width: 314px;
            width: 100%;
        }
    }

    .contact {
        &__form {
            max-width: 315px;
            width: 100%;
        }

        &__form-wraper {
            gap: 12px;
        }

        &__form-fields {
            max-width: 315px;
            width: 100%;
        }

        &__button {
            max-width: 315px;
            width: 100%;
        }

        &__containers {
            flex-direction: column;
        }
    }
}